# Prerequisites
*.d

# Mplabx
InversorT8000.X/build/*
InversorT8000.X/.generated_files/*
InversorT8000.X/nbproject/private/*
InversorT8000.X/nbproject/Makefile-*
InversorT8000.X/nbproject/Package-*

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
#*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.log
*.inx
